<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Insert</title>
  </head>
  <body>
    <form action="/item" method="post">
      <input type="text" placeholder="_id" name="_id" />
      <input type="text" placeholder="name" name="name" />
      <input type="text" placeholder="price" name="price" />
      <button type="submit">Submit</button>
    </form>
  </body>
  <a class="nav-link" href="/items">Get all</a>
  <a class="nav-link" href="/insert">Insert</a>
  <a class="nav-link" href="/delete">Delete</a>
  <a class="nav-link" href="/update">Update</a>
</html>
